.home {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    width: 100%;
    margin-top: 100px;

        & h2 {
            grid-area: 1 / 2 / 2 / 3; 
            text-align: center;
            transform: translate(-5%, -60px);
            font-family: $font-1;
            font-size: 2rem;
        }

        & .main {
             grid-area: 1 / 2 / 2 / 3; 
            & .home-header {
                position: relative;
                width: 59.3%;
                margin-left: 30px;
                border: 1px solid $red;
                min-height: 150px;
                background-color: $red-3;
                border-radius: 20px;
                & .connection-form{
                    & .form-container {
                        position: relative;
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: 40% 60%;
                        
                            @media screen and(max-width: 885px) {
                                grid-template-columns: 1fr;
                            }
                            & ul {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                & li {
                                    cursor: pointer;
                                    border-radius: 20px;
                                    padding: 10px 20px;
                                    transition: .2s ease;
                                }
                                & .active-btn {
                                    background: $red-2;
                            
                                    &:hover {
                                        background: $red;
                                    }
                                }
                                li:not(.active-btn) {
                                    &:hover {
                                        transform: translateX(3px);
                                    }
                                }
                                & #login {
                                position: relative;
                                    @media screen and(max-width: 550px) {
                                    margin-bottom: 30px;
                            
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        bottom: -10px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 80%;
                                        height: 1px;
                                        background: $red-2;
                                    }
                                }}
                            }
                        & #login-form,
                        & #sign-up-form {
                            padding: 20px;
                            margin-left: 20px;
                        }
                        & .success{
                            position: absolute;
                            bottom: 70px;
                            left: 22%;
                            color: $green;
                            font-weight: bold;
                          }
                    }
                }

                & .post-container {
                width: 100%;
                height: auto;
                resize: none;
                position: relative;

                    & .data {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                    }
                    & a {
                        position: absolute;
                        max-width: 30px;
                        height: 30px;
                        left: 10px;
                    }
                    
                    & .user-info {
                        max-width: 30px;
                        height: 30px;
                        margin: 10px 0px 20px 0px;
                        
                        & img {
                            width: 30px;
                            height: 30px;
                            border-radius: 10px;
                        }
                    }
                    & .post-form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & textarea {
                            width: 90%;
                            height: 60px;
                            border: 0.5px solid $red;
                            border-radius: 20px;
                            padding: 5px 20px;
                            margin-bottom: 15px;
                            margin-top: 50px;
                            line-height: 18px;
                            font-family: $font-2;
                            font-size: 1.2rem;
                            resize: none;
                            background-color: $red-3;
                        }

                            & .card-container {
                                width: 100%;
                                margin: 10px;
                                position: relative;
                                
                                & .card-left {
                                    position: absolute;
                                    left: 0;
                                    & img {
                                        width: 26px;
                                        height: 26px;
                                        border-radius: 10px;
                                        margin-left: 10px;
                                    }
                                }

                                & .card-right {
                                    position: relative;
                                    width: 100%;
                                    & span {
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                    }
    
                                    & .card-header {
                                        width: 100%;
                                    }
                                    & .pseudo {
                                        color: $purple;
                                        display: flex;
                                        margin-left: 40px;
                                    }
                                    & .content {
                                        position: relative;
                                        width: 90%;
                                        margin-left: 50%;
                                        transform: translateX(-50%);
                                        padding: 10px;
                                        margin-top: 10px;
                                        border: 1px solid $red;
                                        border-radius: 20px;
                                            & img {
                                                width: 80%;
                                                margin: 20px;
                                                border-radius: 20px;
                                            }
                                            & p {
                                                display: block;
                                                position: relative;
                                                padding: 5px;
                                                max-width: 400px;
                                            }
                                    }
                                }

                                & .card-post {
                                    width: 100%;
                                    & .update-post {
                                        width: 100%;
                                        & .update-post-area {
                                            width: 90%;
                                            resize: none;
                                            min-height: 50px;
                                        }
                                        & .button-container {
                                            & .btn {
                                                padding: 5px 15px;
                                            }
                                        }
                                    }
                                }
                            }
                               
                        & .footer-form {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            & .icon {
                                position: relative;
                                display: flex;
                                align-items: center;
                                flex: 1;
                                & .fa-image {
                                    position: relative;
                                    font-size: 1.6rem;
                                    color: $red;
                                    cursor: pointer;
                                }
                                & button {
                                    width: 100%;
                                    padding: 5px 20px;
                                    margin-bottom: 5px;
                                    margin-right: 10px;
                                    border-radius: 10px;
                                    border: 0.5px solid $red;
                                    background-color: $red-3;
                                    font-weight: 500;
                                    transition: .2s ease;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: $red-2;
                                        color: $white;
                                        font-weight: 700;
                                }}
                                    & #file-upload{
                                        width: 27px;
                                        height: 28px;
                                        margin-right: 30px;
                                        transform: translate(-27px, -5px);
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                            }
                            & .btn-send {
                                display:  flex;
                                flex: 2;
                            & .send,
                            & .cancel {
                                width: 100%;
                                padding: 5px 20px;
                                margin-bottom: 5px;
                                border-radius: 10px;
                                border: 0.5px solid $red;
                                background-color: $red-3;
                                font-weight: 500;
                                transition: .2s ease;
                                cursor: pointer;
                                &:hover {
                                    background-color: $red-2;
                                    color: $white;
                                    font-weight: 700;
                                }
                            }
                            & .send {
                                margin-left: 20px;
                            }
                            }
                        }
                    }
                }
            }
            & .thread-container {
                margin-left: 10px;

                    & ul {
                        margin: 20px;
                        border: 1px solid $red;
                        width: 60%;

                        & .card-container {
                            border: 1px solid $red;
                            padding: 10px;
                            margin: 10px;

                            & .card-img-user {
                                width: 40px;
                                height: 40px;
                            }
                        & .card-post {
                             width: 100%;
                             position: relative;
    
                            & .card-post-header {
                                width: 100%;
                                }
    
                                & .pseudo {
                                    display: flex;
                                    justify-content: space-between;
                                    
                                    & h3 {
                                        font-size: 1.2rem;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }

                        
                    }
            }
        }

    }
.unfollow {
    color: $ligthGray;
}
.follow {
    color: $green;
}

